<section class="hero">
  <div class="container hero_container">
    <div class="menu">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="./index.html">ABOUT</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#gallery">PORTOFOLIO</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#about">CONTACT</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="name">
      <h1 class="hero_name">
        DARIA <br />
        KREMEN
      </h1>
    </div>
    <div class="link">
      <ul class="link__icon">
        <li class="link__item">
          <a href=""
            ><svg class="link__icon" width="25" height="25">
              <use href="/src/images/symbol-defs.svg#icon-mail"></use></svg
          ></a>
        </li>
        <li class="link__item">
          <a href=""
            ><svg class="link__icon" width="25" height="25">
              <use href="/src/images/symbol-defs.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</section>
